  <footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3><%= link_to 'About', '#',style: 'color: #fff' %></h3>
      </div>
    </div>
    
  </div>

</footer>